// 
// 本软件为免费、开源软件。
// 本软件的版权(包括源码及二进制发布版本)归一切公众所有。
// 您可以自由使用、传播本软件。
// 您也可以以任何形式、任何目的使用本软件(包括源码及二进制发布版本)，而不受任何版权限制。
// =====================
// 作者: 孙明保
// 邮箱: sunmingbao@126.com
// 

#include "res.h"
#include <windows.h>

// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// (Win9x) and by alphabetically (!) (NT), so put this icon first and give it
// a name starting with "a"

a_exe_icon    ICON "app_icon.ico"
app_icon      ICON "app_icon.ico"

tb_icon_undo         ICON "undo.ico"
tb_icon_redo         ICON "redo.ico"
tb_icon_undo_dis     ICON "undo_dis.ico"
tb_icon_redo_dis     ICON "redo_dis.ico"

tb_icon_hint         ICON "hint.ico"
tb_icon_mark         ICON "pen.ico"
tb_icon_timer        ICON "timer.ico"
sd_notify            WAVE "notify.wav"
sd_right             WAVE "right.wav"
sd_wrong             WAVE "wrong.wav"
sd_no_solution       WAVE "no_solution.wav"
sd_stage_succ        WAVE "stage_succ.wav"
sd_all_stages_succ   WAVE "all_stages_succ.wav"

// Menu
MY_MENU MENU DISCARDABLE 
BEGIN
    	POPUP "游戏(&G)"
    	BEGIN
    	        MENUITEM "闯关模式\tCtrl+N", 		     IDM_CGMS
    	        POPUP "选关模式"
			    BEGIN
				    MENUITEM "&1 abc",                       ID_STAGE_1
			    END

    	        MENUITEM "随机生成游戏(&R)", 		             IDM_RAND_GAME
    	        MENUITEM "空棋盘(&E)",                           IDM_EMPTY_GAME

    	        MENUITEM SEPARATOR
    	        
    	        MENUITEM "当前进度存档(&S)...\tCtrl+S",  IDM_ARCH_SAVE
    	        MENUITEM "打开存档(&O)...\tCtrl+O", 	 IDM_ARCH_OPEN
    	        POPUP "最近的存档"
			    BEGIN
				    MENUITEM "&1 abc", 	ID_FILE_RECENT_FILE_BEGIN
			    END

    	        MENUITEM SEPARATOR
    	        
    	        MENUITEM "存为 数独迷题",  IDM_SAVE_AS_PUZZLE
    	        MENUITEM "加载 数独迷题",  IDM_OPEN_PUZZLE

        		MENUITEM SEPARATOR
        		MENUITEM "退出(&X)", 				 IDM_APP_EXIT
    	END

    	POPUP "控制(&C)"
    	BEGIN
    	        MENUITEM "回退(&U)\tCtrl+Z", 				IDT_TOOLBAR_UNDO
        		MENUITEM "前进(&R)\tCtrl+Y", 				IDT_TOOLBAR_REDO
    	END


    	POPUP "开关项(&O)"
    	BEGIN
    	        MENUITEM "显示提示(&H)\tCtrl+H", 			IDT_TOOLBAR_HINT
    	        MENUITEM "显示标记(&M)\tCtrl+M", 			IDT_TOOLBAR_MARK, CHECKED
    	        
    	        MENUITEM SEPARATOR
    	        MENUITEM "显示计时\tCtrl+T", 			IDT_TOOLBAR_TIMER, CHECKED
    	        
    	        MENUITEM SEPARATOR
    	        MENUITEM "音效", 				    IDM_SOUND, CHECKED
        		MENUITEM "背景音乐", 				IDM_MUSIC, CHECKED

    	        MENUITEM SEPARATOR
    	        MENUITEM "工具栏(&T)", 				IDM_APP_TOOLBAR_WIN, CHECKED
        		MENUITEM "状态栏(&S)", 				IDM_APP_STATUSBAR_WIN, CHECKED

    	END

    	POPUP "终极法宝(&B)"
    	BEGIN
    	        MENUITEM "数独求解器(&S)", 			IDM_SUDOKU_SOLVER
    	END
    	
    	POPUP "帮助(&H)"
    	BEGIN
        	    MENUITEM "获取新版本...",	    IDM_GET_NEW_VERSION
        	    MENUITEM "获取源代码...",	    IDM_GET_SOURCE
        	    MENUITEM "访问官方站点...",	    IDM_OPEN_OFFICIAL_SITE
        	    MENUITEM SEPARATOR
        	    MENUITEM "关于本软件...(&A)",	IDM_APP_ABOUT
    	END
END


// Accelerator
MY_ACCELER ACCELERATORS DISCARDABLE 
BEGIN
    	"^N",         IDM_CGMS,          ASCII,  NOINVERT
    	"^O",         IDM_ARCH_OPEN,         ASCII,  NOINVERT
    	"^S",         IDM_ARCH_SAVE,         ASCII,  NOINVERT
    	"^Z",         IDT_TOOLBAR_UNDO,         ASCII,  NOINVERT
    	"^Y",         IDT_TOOLBAR_REDO,         ASCII,  NOINVERT
    	"^H",         IDT_TOOLBAR_HINT,         ASCII,  NOINVERT
    	"^M",         IDT_TOOLBAR_MARK,         ASCII,  NOINVERT
    	"^T",         IDT_TOOLBAR_TIMER,         ASCII,  NOINVERT

END


// Dialog
ABOUTBOX DIALOG DISCARDABLE  32, 32, 250, 200
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "MS Sans Serif"
BEGIN
    	ICON        "app_icon",IDC_STATIC,10,10,32,32, SS_REALSIZEIMAGE
    	PUSHBUTTON  "源码", ID_AB_SOURCE,5, 50, 35, 14
    	PUSHBUTTON  "官网", ID_AB_SITE,  5, 70, 35, 14
    	PUSHBUTTON  "升级", ID_AB_UPDATE,5, 90, 35, 14
    	CONTROL "", ID_ABOUT_INFO, "edit"
    	, WS_BORDER|WS_VSCROLL | ES_MULTILINE|ES_AUTOVSCROLL|ES_WANTRETURN|ES_READONLY
    	, 45, 10, 190, 160

    	//CTEXT       "About Box Demo Program",IDC_STATIC,7,40,166,8
    	//CTEXT       "(c) Charles Petzold, 1998",IDC_STATIC,7,52,166,8
    	DEFPUSHBUTTON   "确定",IDOK,100,180,50,14
END

// Dialog
GEN_PUZZLE_WAIT_DLG DIALOG DISCARDABLE  0, 0, 300, 100
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION " "
FONT 8, "MS Sans Serif"
BEGIN

    	CTEXT       " ",IDC_FIXED_INFO,10,10,280,30
    	CTEXT       " ",IDC_VAR_INFO,10,40,280,30
    	PUSHBUTTON   "取消",IDCANCEL,125,80,50,14
END

// Dialog
PUZZLE_INPUT_DLG DIALOG DISCARDABLE  0, 0, 200, 200
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "迷题输入"
FONT 8, "MS Sans Serif"
BEGIN
    	PUSHBUTTON   "导入迷题",ID_IMPORT_FROM_FILE,10,10,50,14
    	PUSHBUTTON   "求解",IDOK,80,10,50,14

    	CONTROL "", ID_PUZZLE_INPUT, "edit"
    	, WS_VSCROLL | ES_MULTILINE|ES_AUTOVSCROLL|ES_WANTRETURN
    	, 10, 40, 180, 150
    	
END

// Dialog
INT_SELECT_DLG DIALOG DISCARDABLE  0, 0, 160, 100
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "预置数字格子数"
FONT 8, "MS Sans Serif"
BEGIN

    	CTEXT       " ",IDC_FIXED_INFO,20,35,40,14
		COMBOBOX    ID_INT_LIST_COMB,40, 30, 80, 100,CBS_DROPDOWNLIST | WS_VSCROLL

  	DEFPUSHBUTTON   "确定",    IDOK,30,80,40,14
  	PUSHBUTTON      "取消",IDCANCEL,90,80,40,14

END


